# common Compose config file for all environments

services:
  # object.gay
  root:
    restart: unless-stopped
    stop_signal: SIGINT
    ports:
      - 7000:7000
    environment:
      MODULE: object_gay.app
      PORT: 7000  # not strictly necessary, but easier to read

  # see.object.gay
  see:
    image: diced/zipline:4.3.1
    restart: unless-stopped
    ports:
      - 7002:7002
    environment:
      CORE_RETURN_HTTPS_URLS: false
      CORE_HOSTNAME: 0.0.0.0
      CORE_PORT: 7002
      DATABASE_URL: postgres://postgres:postgres@postgres/zipline_v4
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: ['CMD', 'wget', '-q', '--spider', 'http://localhost:7002/api/healthcheck']
      interval: 15s
      timeout: 2s
      retries: 2

  # supporting services

  postgres:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DATABASE: zipline_v4
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  pg_data:
